GridBackground {
    --grid-background-color: Var(--jm-colors-grid-light-grey-1);
    --line-color: Var(--jm-colors-grid-light-grey-2);
    --thick-line-color: Var(--jm-colors-grid-light-grey-3);
    --spacing: Var(--jm-metrics-grid-50);
}

.jm-edge__edgecolor {
    color: rgba(245, 40, 145, 0.8);
    edge-color: rgba(245, 40, 145, 0.8);
}